<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Exo:400,500italic,200italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
  </head>
  <body>
    <div id="box-up">
        <a href="#">WHOAMI</a>
        <div class="container">
            <section id="profile">
                <img src="http://www.pageresource.com/wallpapers/wallpaper/anne-hathaway-face-hd.jpg" alt="tomasnagy"/>
                <h1><%= title %></h1>
                <p>Bacon ipsum dolor amet pork loin jerky chuck andouille tri-tip doner kevin bresaola pork belly. Brisket strip steak frankfurter alcatra cow meatloaf pastrami ground round boudin pig kevin pork. Spare ribs ball tip chicken, bacon porchetta landjaeger pork chop tenderloin leberkas prosciutto short ribs t-bone meatball meatloaf. Ground round picanha venison beef, flank ball tip filet mignon short loin doner. Beef ribs kielbasa ham hock, ground round biltong rump pork belly leberkas strip steak. Porchetta pancetta sirloin salami jowl alcatra biltong beef cow sausage chicken pastrami shoulder.</p>
            </section>
            <section id="project-detail">
                <img src="#" alt="projecttitle"/>
                <h1>Project Title</h1>
                <p>Bacon ipsum dolor amet pork loin jerky chuck andouille tri-tip doner kevin bresaola pork belly. Brisket strip steak frankfurter alcatra cow meatloaf pastrami ground round boudin pig kevin pork. Spare ribs ball tip chicken, bacon porchetta landjaeger pork chop tenderloin leberkas prosciutto short ribs t-bone meatball meatloaf. Ground round picanha venison beef, flank ball tip filet mignon short loin doner. Beef ribs kielbasa ham hock, ground round biltong rump pork belly leberkas strip steak. Porchetta pancetta sirloin salami jowl alcatra biltong beef cow sausage chicken pastrami shoulder.</p>
            </section>
        </div>
    </div>

    <div id="divider">

    </div>

    <div id="box-down">
        <a href="#">PROJECTS</a>
        <div class="container"></div>
    </div>

    <script src="/javascripts/velocity.min.js"></script>
    <script src="/javascripts/animationMain.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
